@model IEnumerable<OrderModel>
@{
    ViewData["Title"] = "Historia zamówienia";
}
<h3>@ViewData["Title"]</h3>
<hr />
@if (User.IsInRole("Admin"))
{
    <div class="fixed-action-btn">
        <a href="#!" class="btn-floating btn-large waves-effect amber darken-3">
            <i class="material-icons">menu</i>
        </a>
        <ul>
            <li>
                <a asp-action="AdministracjaZamowien"
               class="btn-floating waves-effect amber darken-4">
                    <i class="large material-icons">mode_edit</i>
                </a>
            </li>
            <li>
                <a asp-action=""
               class="btn-floating waves-effect amber darken-4">
                    <i class="large material-icons">add</i>
                </a>
            </li>
            <li>
                <a asp-controller="Admin" asp-action="Index"
               class="btn-floating waves-effect amber darken-4">
                    <i class="large material-icons">settings</i>
                </a>
            </li>
        </ul>
    </div>
    @foreach (var obj in Model)
        @if (obj.Status == "Zrealizowane")
        {
            {
                <div class="row">
                    <div class="col s12">
                        <div class="card white">
                            <div class="card-stacked">
                                <div class="card-content">
                                    <span class="card-title">Nr Zamówienia: @obj.OrderID | Status: @obj.Status</span>
                                    <p>
                                        ID odbiordy: @obj.OrderUserID <br />
                                        Imię i nazwisko: @obj.Name @obj.LastName <br />
                                        Adres: @obj.Adress <br />
                                        E-mial: @obj.Email <br />
                                        Telefon: @obj.Number  <br />
                                        Razem do zapłaty: @obj.GrandTotal <br />

                                    </p>
                                </div>
                                <div class="card-action">
                                    <a class=" btn waves-effect amber darken-3 right" asp-action="Details" asp-route-id="@obj.OrderID">
                                        Szczegóły
                                    </a>
                                    <div>
                                        <br /><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
}
else
{
    <h1>Strona dostępna tylko dla administratorów</h1>
    <a class="waves-effect amber darken-3 btn-large" asp-area="Identity" asp-page="/Account/Login">
        Zaloguj się
        <i class="material-icons right">send</i>
    </a>
}

